<div class="forecastEntry" >
    <table >
        <tr>
            <th>Date: </th>
            <th data-dojo-attach-point="dateNode">not available</th>
        </tr>
        <tr>
            <th>Temperature: </th>
            <th data-dojo-attach-point="tempNode">not available</th>
        </tr>
        <tr>
            <th>Humidity: </th>
            <th data-dojo-attach-point="humNode">not available</th>
        </tr>
        <tr>
            <th>Cloudiness: </th>
            <th data-dojo-attach-point="cloudNode">not available</th>
        </tr>
        <tr>
            <th>Windspeed: </th>
            <th data-dojo-attach-point="windNode">not available</th>
        </tr>
    </table>
    <hr style="border: 1px dashed">
</div>