<div class="weatherWidget" style="display:block">
    <h3 style="font-weight: bold;">Weather Forecast</h3>
    
    <table>
        <tr>
            <th>Adress: </th>
            <th  data-dojo-attach-point="adressNode">not selected</th>
        </tr>
        <tr>
            <th>Date: </th>
            <th data-dojo-attach-point="dateNode">not selected</th>
        </tr>
        <tr>
            <th>Temperature: </th>
            <th data-dojo-attach-point="tempNode">not selected</th>
        </tr>
        <tr>
            <th>Humidity: </th>
            <th data-dojo-attach-point="humNode">not selected</th>
        </tr>
        <tr>
            <th>Cloudiness: </th>
            <th data-dojo-attach-point="cloudNode">not selected</th>
        </tr>
        <tr>
            <th>Windspeed: </th>
            <th data-dojo-attach-point="windNode">not selected</th>
        </tr>
    </table>
</div>